<div class="container">
    <div class="row">
            <div class="col-md-6">
                <div class="chartContainer">
                    <canvas id="canvas-doughnut" width="50" height="50">
                        {{charDoughnut}}
                    </canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chartContainer">
                    <canvas id="canvas-bar" width="50" height="50">
                        {{chartBar}}
                    </canvas>
                </div>
            </div>
    </div>
</div>